.product__block {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__block__image {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}