@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "vars";
@import "normalize";
@import "wrapper";
@import "header";
@import "main";
@import "range";
@import "basket";

body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}

.hidden {
    display: none;
}