.range-cost {
    margin: 5% 0 5% 0;
}
.range-cost__cost {
    display: flex;
    justify-content: space-between;
        width: 80%;
        margin: 0 auto;
}

.range-input {
    width: 50px;
    text-align: center;
}
.range-cost__line {
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background-color: $red;
    margin: 20px 0 20px 0;
    display: flex;
        align-items: center;
        justify-content: space-between;
}
.range-cost__circle {
    height: 11px;
    width: 11px;
        background-color: $red;
        border-radius: 50%;
    }
   .range-cost__line-left {
       background-color: $silver;
    height: 5px;
    width: 20px;
    }
    
    .range-cost__line-right {
    background-color: $silver;
    height: 5px;
    width: 20px;
    }
    
    .ange-cost__bocks {
        display: flex;
        align-items: center;
}